@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #e2ede9
}

a {
  text-decoration: none;
}

header {
  height: 70px;
  background: #12d947;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

header a {
  color: white;
  font-size: 40px;
  font-family: 'Itim', cursive;
}